@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary: #133E87;
  --primary-light: #1a4fa8;
  --primary-dark: #0c2654;
}

.dark {
  --primary: #1a4fa8;
  --primary-light: #2561c9;
  --primary-dark: #133E87;
}
